<mat-toolbar id="header" color="primary" fxLayoutAlign="center center">
    <h1>Datos del personal ingresado en el primer trimestre 2019 </h1>
</mat-toolbar>

<div class="container" fxLayout="column" fxLayoutGap="10px">



    <button class="title" mat-button [matMenuTriggerFor]="personal"><h1>Datos
            Clientes</h1></button>
    <mat-menu #personal="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fromAPI">From API</button>
        <button mat-menu-item [matMenuTriggerFor]="inventado">Inventado</button>
    </mat-menu>

    <img id="hand" src="../assets/hand.svg" alt="up hand">

    <mat-menu #fromAPI="matMenu" class="matMenuDad">
        <mat-card *ngFor="let person of dataArray; let i= index">
            <div class="dataWrapper">
                <h4>BookingId:</h4>
                <span>{{person.bookingId}}</span>
            </div>

            <div class="dataWrapper">
                <h4>Cliente:</h4>
                <span>{{person.locationId.tutenUser.firstName +" "+
                    person.locationId.tutenUser.lastName}}</span>
            </div>

            <div class="dataWrapper">
                <h4>Fecha de Creación:</h4>
                <span>{{person.bookingTime}}</span>
            </div>

            <div class="dataWrapper">
                <h4>Dirección:</h4>
                <span>{{person.locationId.streetAddress}}</span>
            </div>

            <div class="dataWrapper">
                <h4>Precio:</h4>
                <span>{{person.bookingPrice}}</span>
            </div>

        </mat-card>
    </mat-menu>

    <mat-menu #inventado="matMenu">
        <button mat-menu-item>Datos X</button>
    </mat-menu>



    <div class="mat-card-wrapper">
        <ng-container *ngFor="let person of
            dataArray">
            <mat-card class="bigCards" #maty *ngIf="person.visible == true">
                <mat-card-title-group>

                    <mat-card-subtitle>
                        <span class="boldy">BookingId:</span>
                        <span>
                            {{person.bookingId}}
                        </span>
                        <span class="boldy"> Cliente:</span>
                        <span>
                            {{person.locationId.tutenUser.firstName +" "+
                            person.locationId.tutenUser.lastName}}
                        </span>
                        <span class="boldy">Fecha de Creación</span>
                        <span>{{person.bookingTime | date}}</span>
                        <span class="boldy">Dirección</span>
                        <span>{{person.locationId.streetAddress}}</span>
                        <span class="boldy">Precio</span>
                        <span>{{person.bookingPrice}}</span>
                    </mat-card-subtitle>
                </mat-card-title-group>
            </mat-card>
        </ng-container>
    </div>

    <select class="pricePicker" #slct name="" (change)="change(slct)">
        <option value="z">Seleccionar Precio</option>
        <option value="allprices"> todos los precios</option>
        <option value="over">Precio mayor de 2000</option>
        <option value="under">Precio menor de 2000</option>
    </select>


</div>
<mat-toolbar id="footer" color="primary" fxLayoutAlign="center center">
    <p>&copy Reserva de derechos. Tuten</p>
</mat-toolbar>